*{
    color: rgb(200, 200, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
border: solid;
    background-color: rgb(26, 26, 26);
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 4px rgba(249, 246, 246, 0.5);
}

.card img{
    margin: auto;
    height: 40%;
    width: 100%;
}

.button{
    display: inline-block;
    padding: 5px;
    background-color: rgb(45, 44, 44);
    text-decoration: none;
    border-radius: 15px;
}

.button:hover{
    background-color: gray;
}